*, *::after *::before{
    box-sizing: border-box;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    max-width: 50%;
    background-color:beige;
}

.active-modal{
    transform: translate(-50%, -50%) scale(1) !important;

}

.modal-header{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.modal-title{
    font-size: 1.25rem;
    font-weight: bold;
}
.close-btn{
    cursor: pointer;
    border: none;
    outline: none;
    background:none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding: 10px 15px;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.active-overlay{
    opacity: 1 !important;
    pointer-events: all !important;
}
.container{
    background-color: azure;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 10%;
   }
.cards{
    height: 10em;
    min-width: 200px;
    max-width: fit-content;
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 9px;
    margin: 10px;
   }
h2{
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
   }


   form{
    border: 2px solid rgba(50,122, 123, 10);
    border-radius: 1em;
    padding: 10px;
    width: fit-content;

   }